/* BAGIAN NAVBAR */
body {
    background-color: #241c15;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* NAVBAR LOGO */
.navbar .navbar-logo {
    font-size: 1.4rem;
    font-weight: 500;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-decoration: none;
    color:white;
}

.navbar .navbar-logo span {
    color: #b0a695;
}

/* NAVBAR NAV */
.navbar .navbar-nav {
    display: flex;
    align-items: center;
}

.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    position: relative;
}

.navbar .navbar-nav a:hover {
    color: #EBE3D5;
    border-bottom: 1px solid #EBE3D5;
}

/* NAVBAR JOIN ONLINE */
.navbar .navbar-nav .satu {
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.navbar .navbar-nav .satu:hover {
    color: #241c15;
}

.navbar .navbar-nav .satu::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: -1;
    transition: background-color 0.3s ease;
}

.navbar .navbar-nav .satu:hover::after {
    background-color: #EBE3D5;
}

/* NAVBAR IKON */
.navbar .navbar-nav a .one {
    display: block; /* Menjadikan ikon sebagai block element */
    border-bottom: none; /* Menghapus border bottom */
}

.navbar .navbar-nav a .one::after {
    content: 'TIMETABLE'; /* Isi dengan teks yang Anda inginkan */
    position: absolute;
    bottom: -14px; /* Sesuaikan posisi vertikal teks */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 0.4rem;
}

.navbar .navbar-nav a .one:hover::after {
    opacity: 1;
}

.navbar .navbar-nav a .two {
    display: block; /* Menjadikan ikon sebagai block element */
    border-bottom: none; /* Menghapus border bottom */
}

.navbar .navbar-nav a .two::after {
    content: 'LOCATION'; /* Isi dengan teks yang Anda inginkan */
    position: absolute;
    bottom: -14px; /* Sesuaikan posisi vertikal teks */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 0.4rem;
}

.navbar .navbar-nav a .two:hover::after {
    opacity: 1;
}

.navbar .navbar-nav a .three {
    display: block; /* Menjadikan ikon sebagai block element */
    border-bottom: none; /* Menghapus border bottom */
}

.navbar .navbar-nav a .three::after {
    content: 'PROFILE'; /* Isi dengan teks yang Anda inginkan */
    position: absolute;
    bottom: -14px; /* Sesuaikan posisi vertikal teks */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 0.4rem;
}

.navbar .navbar-nav a .three:hover::after {
    opacity: 1;
}

/* BAGIAN BERANDA / MENU UTAMA */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url('Aset/bglayanannw.png');
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
    text-align: left;
    color: white;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.hero .content h4 {
    color: white;
    font-size: 1.4rem;
    text-shadow: 1px 1px 3px #241c15;
    margin-bottom: -2rem;
}

.hero .content h1 {
    font-size: 3.2rem;
    color: white;
    text-shadow: 1px 1px 3px #241c15;
    line-height: 1.2;
}

.hero .content h1 span {
    color: #241c15;
    text-shadow: none;
}

.hero .content p {
    font-size: 1rem;
    color: #241c15;
    font-weight: 400;
    margin-top: -2rem;
}

/* BAGIAN KELEBIHAN */
.kelebihan {
    margin-top: 2rem;
    padding: 1.4rem 7%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* atau sesuaikan dengan jumlah dan lebar kolom yang diinginkan */
    gap: 20px; /* atau sesuaikan dengan jarak antar elemen */
    background-color: #241c15;
    font-family: 'Poppins', sans-serif;
}

.kelebihan div {
    border: 2px solid #EBE3D5;
    background-color: #EBE3D5;
    border-radius: 10px;
    padding: 16px 16px 16px 16px; /* Misalnya, atur padding menjadi 20px */
    text-align: center; /* Untuk mengatur teks ke tengah */
}

.kelebihan div > h2 {
    font-size: 2.2rem;
    font-weight: 700;
}

.kelebihan div > h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: -1.6rem;
}

/* BAGIAN LANGKAH UNTUK BELI LAYANAN PERTAMA*/
.langkah .pertama {
    padding: 1.4rem 7%;
    margin-top: 2rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

/* BAGIAN LANGKAH UNTUK BELI LAYANAN KEDUA*/
.langkah .kedua {
    margin-top: -2.4rem;
    padding: 1.4rem 7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* atau sesuaikan dengan jumlah dan lebar kolom yang diinginkan */
    gap: 20px; /* atau sesuaikan dengan jarak antar elemen */
    background-color: #241c15;
    font-family: 'Poppins', sans-serif;
}

.langkah .kedua div {
    border: 2px solid #EBE3D5;
    background-color: #EBE3D5;
    border-radius: 10px;
    padding: 16px 16px 16px 16px; /* Misalnya, atur padding menjadi 20px */
    text-align: center; /* Untuk mengatur teks ke tengah */
}

.langkah .kedua div > h2 {
    font-size: 2.4rem;
    font-weight: 700;
}

.langkah .kedua div > h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

.langkah .kedua div > p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: -1.4rem;
}

/* BAGIAN LAYANAN PERTAMA*/
.layanan .pertama {
    padding: 1.4rem 7%;
    margin-top: 2rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -2rem;
}

.layanan .kedua{
    transition: transform 0.5s ease-in-out;
    padding: 1.4rem;
    margin-right: 4rem; 
    margin-left: 4rem; 
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.layanan .kedua .slide {
    flex: 0 0 100%;
    text-align: center;
    color: #241c15;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: #EBE3D5;
    border: 2px solid #EBE3D5;
    border-radius: 1rem;
    flex-shrink: 0;
} 

.layanan .kedua .slide .satu {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: -1rem;
} 

.layanan .kedua .slide .dua {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
} 

.layanan .kedua .slide .tiga {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: -0.8rem;
} 

.layanan .kedua .slide .empat {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
} 

.layanan .kedua .slide .empat span {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
} 

.layanan .kedua .slide .lima {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: -0.8rem;
} 

.layanan .kedua .slide .enam {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
} 

.layanan .kedua .slide .tujuh {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: -0.8rem;
} 

.layanan .kedua .slide .delapan {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
} 

.layanan .kedua .slide .beli {
    color: #EBE3D5;
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 2rem;
    font-size: 1.2rem; 
    font-weight: 600;
    background-color: #241c15;
    text-decoration: none;
    border-radius: 50px;
    margin-bottom: 1.8rem;
    box-shadow: 1px 1px 1px rgba(1,1,3,0.5);
}

.layanan .buttons {
    margin-top: auto; /* Menggeser tombol ke bagian bawah */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.prev-btn, .next-btn {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 14px;
    background-color: #EBE3D5;
    color: #241c15;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
}

/* FOOTER BARU */
.footer {
    font-family: 'Poppins', sans-serif;
    margin-left: 6rem;
    margin-right: 6rem;
    color: white;
    display: flex;
    justify-content: space-between; /* Memastikan class isi dan kolomjudul berada di samping */
}

.footer .isi {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* atau sesuaikan dengan jumlah dan lebar kolom yang diinginkan */
    gap: 10px; /* atau sesuaikan dengan jarak antar elemen */
}

.kolomjudul,
.isi {
    display: inline-block; /* Membuat kolomjudul dan isi berada sejajar */
    vertical-align: top; /* Memastikan isi tetap berada di atas */
}

.kolomjudul {
    width: 30%; /* Atur lebar sesuai kebutuhan */
}

.isi {
    width: 65%; /* Atur lebar sesuai kebutuhan */
}

.footer .kolomjudul a {
    font-size: 1.4rem;
    font-weight: 500;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-decoration: none;
    color:white;
}

.footer .kolomjudul a span {
    color: #b0a695;
}

.bawah {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    color: white;
}