body {
    background-color: #241c15;
    margin: 0;
    padding: 0;
    background-image: url('Aset/login.png');
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.login {
    background-color: #241c15;
    padding: 2rem;
    margin-left: 56rem;
    border-radius: 10px;
}

.kanan {
    font-family: 'Poppins', sans-serif;
}

.kanan .satu {
    font-size: 1.4rem;
    font-weight: 500;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color:#b0a695;
}

.kanan .dua {
    font-size: 1.4rem;
    font-weight: 560;
    color: white;
    margin-bottom: 2rem;
}

.kanan .tiga {
    font-size: 0.8rem;
    color: white;
}

form {
    font-size: 1.2rem;
    font-weight: 560;
    color: white;
}

.checkbox {
    font-size: 0.8rem;
    color: white;
    font-weight: 400;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

form button {
    color: white;
    background-color: #b0a695;
    border-radius: 10px;
    width: 100%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
}

a {
    font-size: 0.8rem;
    color: white;
}